*~
*#

*.d
*.o
*.a
*.out

*.gcda
*.gcno
*.gcov
vgcore.*

*.vs/
*.vscode/

coding-style-reports.log
asm/asm
corewar/corewar
unit_tests
bonus/bonus
bonus/documentation/docs

ez_gource.py
gource_avatars/

*__pycache__/
__tmp[*]__
